*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand'; font-weight: 500; font-size: medium;
    text-decoration: none;
}

.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;

}


.bg-dark{
background: rgb(0, 0, 0);
color: rgb(255, 255, 255);
}


.bg-light{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

}

.text-primary{
    font-size: 1.7rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.l-heading{
    font-size: 2rem;
    font-weight: bold;
}

.m-heading{
    font-size: 1.5rem;
}

.list{
    margin: 0.50rem;
    list-style: none;

}

.list li{
    border-bottom: #444 dotted 1px;
    padding: 0.5rem 0;
}

.m-1{margin: 1rem;}
.m-2{margin: 2rem;}
.m-3{margin: 3rem;}
.m-4{margin: 0 5rem;}


.p-1{padding: 1rem;}
.p-2{padding: 2rem;}
.p-3{padding: 3rem;}

.py-1{padding: 1rem 0;}
.py-2{padding: 2rem 0;}
.py-3{padding: 3rem 0;}

.bold{font-weight: bold;}

.btn{
    font-size: larger;
    font-weight: bold;
    color: white;
    background: rgb(6, 29, 88);
    padding: 0.8rem 2.5rem;
    border-radius: 8px;
}

.text-center{
    text-align: center;
}

.btn:hover{
    color: rgb(0, 0, 0);
    background: white;
}

#navbar{
    display: flex;
    padding: 1rem;
    position: sticky;
    z-index: 1;
    top: 0;
}


#navbar a{
    color: rgb(255, 255, 255);

}


#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 5rem;

}

#navbar ul li a{
padding: 0.75rem;
margin: 0 0.25rem;
}

#navbar ul li a:hover{
    background: rgb(17, 46, 117);
    color: white;
    border-radius: 5px;

}

#showcase{
    background: #333 url('../img/pawel-czerwinski-gjf6lzfPROk-unsplash.jpg') no-repeat center center/cover;
    height: 100vh;
}

#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;

}

#section1 h4{
    font-weight: bolder;
}

#section1 .items{
    display: flex;
    padding: 1rem;

}

#section1 .items .item{
    flex: 1;
    text-align: center;
    padding: 2rem;
}

#section1 .items .item i{
    background: rgba(17, 45, 117, 0.13);
    padding: 1.5rem;
    border-radius: 100%;
}

#section2{
    display: flex;
}

#section2 div{
    flex: 1;
}

#section2 .img{
    background: url('../img/stephen-walker-ClTrhq6_7P8-unsplash.jpg') no-repeat center center/cover;
}

#section2 .content{
    text-align: center;
}

#section2 a{
    color: aliceblue;
}

#section3 .items{
    display: flex;
}

#section3 .items div{
    flex: 1;
}

#section3 .items img{
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 65%;
}

#contact{
    display: flex;
    justify-content: center;
}

#contact .contact-form{
    flex-basis: 600px;
    text-align: left;
}

#contact .contact-form label{
    display: block;
    margin: 1rem 0;
}

#contact .contact-form input , #contact .contact-form textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
}

#main-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-footer a{
    color: black;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(204, 204, 204, 0.5);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.pulse{
    animation: pulse 2s infinite;
}